/* ==UserStyle==
@name         Spotify Clean
@description  Hides and shrinks some elements in the Spotify Web Player
@namespace    https://codeberg.org/snowbound/usercss
@homepageURL  https://codeberg.org/snowbound/usercss
@version      1.1.1
@license      MIT
@preprocessor default
==/UserStyle== */

@-moz-document domain("open.spotify.com") {
  a[href="/download"],
  div.GlueDropTarget.GlueDropTarget--tracks a[href="/collection/tracks"],
  button[aria-label="Upgrade to Premium"],
  div[draggable="false"] a[aria-label="Advertisement"],
  div[aria-label="Advertisement"] div:not([aria-hidden]) {
      display: none;
  }

  div[aria-label="Advertisement"]::after {
    content: "⏳ Advertisement";
    display: block;
    transform: translateX(72px);
  }
  
  div[aria-label="Recommended based on what’s in this playlist"] {
      max-height: 12rem;
      overflow: scroll;
  }
}
